.app {
    align-items: center;
    display: flex;
    flex-flow: column;
}

.shortener {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 2px 7px 1px rgba(59,59,59,0.76);
    display: grid;
    grid-template: 1fr 1fr 1fr / 200px 1fr;
    padding: 25px 25px 0 25px;
    width: 500px;
}

.shortener__button {
    justify-self: center;
    background-color:#44c767;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}

.shortener__button:hover {
    background-color:#5cbf2a;
}

.shortener__button:active {
    position:relative;
    top:1px;
}

.shortener__showcase {
    grid-column: 1 / 3;
    justify-self: center;
    margin-top: 10px;
}

.shortener__stats {
    border-bottom: 1px dotted;
    grid-column: 1 / 3;
    height: 17px;
    justify-self: end;
    margin-right: 16px;
    text-decoration: none;
}

.shortener__input {
    align-self: center;
    height: 30px;
}