.stats__nav {
    border-bottom: 1px dotted;
    text-decoration: none;
}

.stats__toggler {
    background: none;
    border: none;
    border-bottom: 1px dotted;
    color: #5cbf2a;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    margin-bottom: 10px;
    outline: none;
    padding: 0;
    text-decoration: none;
}